<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TDS Video.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>21820539331E3985C4B32DDE17EF8C97A5874C76</string>
				<key>dateExpires</key>
				<string>06/04/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21820539331E3985C4B32DDE17EF8C97A5874C76</string>
						<key>dateExpires</key>
						<string>06/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>K3S7UENN8E.net.thomasdye.TDS-Video.Carplayintent</string>
						<key>com.apple.developer.team-identifier</key>
						<string>K3S7UENN8E</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Carplayintent.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5ac71242-1f25-4a80-aef7-23291e4bdc25</string>
						<key>dateExpires</key>
						<string>06/04/2025</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: net.thomasdye.TDS-Video.Carplayintent</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K3S7UENN8E</string>
						<key>name</key>
						<string>Aidan Dye</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21820539331E3985C4B32DDE17EF8C97A5874C76</string>
						<key>dateExpires</key>
						<string>06/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>K3S7UENN8E.net.thomasdye.TDS-Video.CarplayintentUI</string>
						<key>com.apple.developer.carplay-communication</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>K3S7UENN8E</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>CarplayintentUI.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fcbb3a6b-a787-4515-b95e-ec71e4470141</string>
						<key>dateExpires</key>
						<string>06/04/2025</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: net.thomasdye.TDS-Video.CarplayintentUI</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K3S7UENN8E</string>
						<key>name</key>
						<string>Aidan Dye</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21820539331E3985C4B32DDE17EF8C97A5874C76</string>
						<key>dateExpires</key>
						<string>06/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>K3S7UENN8E.net.thomasdye.TDS-Video.UploadVideo</string>
						<key>com.apple.developer.team-identifier</key>
						<string>K3S7UENN8E</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.net.thomasdye.TDS-docs</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>UploadVideo.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>430bb68b-43ca-45a0-bbff-015ab71d53c4</string>
						<key>dateExpires</key>
						<string>06/04/2025</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: net.thomasdye.TDS-Video.UploadVideo</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K3S7UENN8E</string>
						<key>name</key>
						<string>Aidan Dye</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K3S7UENN8E.net.thomasdye.TDS-Video</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>webcredentials:auth.thomasdye.net</string>
				</array>
				<key>com.apple.developer.carplay-calling</key>
				<true/>
				<key>com.apple.developer.carplay-communication</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>K3S7UENN8E</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.net.thomasdye.Auth_Creds</string>
					<string>group.net.thomasdye.TDS-docs</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TDS Video.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c2f88d68-9d4c-4c63-bf27-7a5148ac5845</string>
				<key>dateExpires</key>
				<string>06/04/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: net.thomasdye.TDS-Video</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K3S7UENN8E</string>
				<key>name</key>
				<string>Aidan Dye</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
